/*main.css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(250, 250, 250);
  color: #555;
}

/* En archivo CSS global o en style global de App.vue  - EL PLUGIN*/

.Toastify__toast--success {
  background: #2e91af !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

/* Para que se vea en el centro verticalmente: */

.Toastify__container {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: auto !important;
  max-width: 300px;
}

/* Se pueden ajustar animaciones */

.input {
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 0.25rem;
  padding: 0.56rem 0.5rem;
  outline: none;
}

.input:focus {
  border-color: #a8a8a8;
}

#app {
  width: 100%;

  overflow-x: hidden;
}
